<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>about <%=shopData.shopName%></h1>
    <p><%=shopData.shopName%> is a meditation practice tool and resource application :)</p>
    <p>
      you can use it to schedule your meditation sessions in a personalised calendar, 
      time your sessions and read up on meditation and spirituality!
    </p>
  </body>
</html>