<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>about <%=shopData.shopName%></h1>
    <p><%=shopData.shopName%> is a meditation practice tool, community and resource application :)</p>
  </body>
</html>