<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
    <script src='/javascript/calendar.js'></script>
  </head>
  <body>
    <div id='calendar'></div>
    <div id="event_modal" 
    style="display:none; position:fixed; z-index:3;
    top:20%; left:35%; padding:20px; background:whitesmoke; 
    color: rgb(171, 203, 82); font-family: monospace; 
    border:1px solid rgb(154, 172, 106);">
      <form id="event_form">
        <input type="text" id="event_title" placeholder="event title">
        <input type="datetime-local" id="event_start">
        <input type="datetime-local" id="event_end">
        <textarea id="event_description" placeholder="description"></textarea>
        <button type="button" id="save_button">save</button>
      </form>
    </div>
  </body>
</html>