<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <header id="header">
      <h1><%=shopData.shopName%></h1>
      <h3> - meditation space - </h3>
      <div id="search">
        <form id="search_form" action="/search/home_search" method="GET">
          <p> search <%=shopData.shopName%>: <input id="search_bar" type="text" name="home_search" placeholder="users & resources"p>
          <input type="submit" value="search">
        </form>
      </div>
    </header>
    <div id="links"> 
      <a href="/about">about <%=shopData.shopName%></a>
      <br>
      <a href="/users/login ">login!</a>
      <a href="/users/logout">logout</a>
      <a href="/users/signup">sign up!</a>
      <br>
      <a href="/users/profile">my profile</a>
      <br>
      <a href="/tools/timer">timer</a>
      <a href="/tools/calendar">my calendar</a>
      <br>
      <a href="/resources">reading corner</a>
    </div>
  </body>
</html>
