<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="about">about <%=shopData.shopName%></a></p>
    <p><a href="users/login ">login!</a></p>
    <p><a href="logout">logout</a></p>
    <p><a href="users/register">sign up</a></p>
  </body>
</html>
