<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> reading corner</h1>
    <div id="reader">
        <embed id="embedded_reading" type="text/html" src="https://sunnyvale.ctzen.org/wp-content/uploads/2019/07/diamond-sutra-v1.9.17-201312011.pdf" width="450" height="675">
    </div>
  </body>
</html>