<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>search <%=shopData.shopName%></h1>
    <form action="result" method="GET">
      <p>what would you like to find?</p>
      <input id="search-box" type="text" name="search">
      <input type="submit" value="search" >
    </form>
    <div id="result">
      <% if(query_result != null) { %>
        <ul>
          <li> <%= database_result[0].username %> </li>
        </ul>
      <% } %>
    </div>
  </body>
</html>