<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopData.shopName%></h1>
    <form action="search-result" method="GET">
      <p>What book do you want?</p>
      <input id="search-box" type="text" name="search">
      <input type="submit" value="Search" >
    </form>
    <div id="result">
      <% if(searchResult != null) { %>
        <ul>
          <% for(let i = 0; i < books.length; i++) { %>
            <% if(books[i].name.includes(searchResult)) { %> 
              <li> <%= `${books[i].name} - £${books[i].price}` %></li>
            <% } else if(books[i].name.toLowerCase().includes(searchResult)){ %> 
              <li> <%= `${books[i].name} - £${books[i].price}` %></li>
            <% } %>
          <% } %>
        </ul>
      <% } %>
    </div>
  </body>
</html>