<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>sign up for a <%=shopData.shopName%> account</h1>
    <form method="POST" action="signedup">
        <p>first name: <input id="first" type="text" name="first"/></p>
        <p>fast name: <input id="last" type="text" name="last"/></p>
        <p>email: <input id="email" type="email" name="email"/></p>
        <p>username: <input id="username" type="text" name="username"/></p>
        <p>password: <input id="password" type="password" name="password"/></p>
        <input type="submit" value="Register"/>
    </form>
  </body>
</html>