<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css"/>
  </head>
  <body>
    <h1><%=shopData.shopName%> meditation timer</h1>
    <div id="timer">
        <p id="time">00:00</p>
        <button id="start">start</button>
        <button id="stop" disabled>pause</button>
        <button id="lap" disabled>lap</button>
        <button id="reset">reset</button>
        <div id="show_laps"></div>
    </div>
    <script src="/javascript/timer.js"></script>
  </body>
</html>