/*
html {
  background: black;
} 
*/

html, body {
  display: flexbox;
  padding: 3%;
  background: whitesmoke;
  color: rgb(171, 203, 82);
  font-family: monospace;
}

h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 20px;
  color: rgb(169, 212, 52);
}

h2 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 20px;
  color: rgb(136, 161, 68);
}

/* p,li {
  font-family: Arial, Helvetica, sans-serif;
} */

a:link {
  color: rgb(171, 203, 82);
  text-decoration: none;
  padding:5px;
}
  
/* visited link */
a:visited {
  color: rgb(163, 189, 91);
  text-decoration: none;
  padding:5px;
}
  
/* mouse over link */
a:hover {
  color: rgb(140, 199, 221);
  text-decoration: none;
  /* background-color: orangered; */
  padding:5px;
}
  
/* selected link */
a:active {
  color: rgb(142, 221, 250);
  text-decoration: none;
  padding:5px;
}

.input {
  margin: 7.5px;
}